.button {
  width: 280px;
  height: 50px;
  border-radius: 8px;
  background: #2060f6;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: #2060f6;
    border: 2px #2060f6 solid;
  }
}
