@import "../utils/vars";
@import "../utils/mixins";

.testimonials {
  grid-column: span 2;
  width: 100%;
  border-radius: 16px;
  background: $white-color;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
  box-sizing: border-box;
  padding: 32px;

  @include for-tablet {
    grid-column: span 6;
  }

  @include for-small-desktop {
    padding: 32px 48px;
  }

  &__photos {
    grid-column: span 2;

    @include for-tablet {
      grid-column: span 6;
    }

    @include for-small-desktop {
      grid-column: span 12;
      gap: 30px;
      display: flex;
      justify-content: space-between;
    }
  }

  &--style {
    margin-top: 60px;
  }

  &__photo {
    display: grid;
    justify-content: center;
  }

  &__image {
    border-radius: 50%;
    z-index: 1;
    position: relative;
  }

  &__block {
    grid-row: span 6;
    position: absolute;
    width: 108px;
    height: 43px;
    border-radius: 12px;
    background-color: #2060f6;

    &:nth-child(1) {
      transform: rotate(-60deg) translate(-12px, -3px);
      @include for-tablet {
        transform: rotate(-60deg) translate(60px, 120px);
      }
      @include for-small-desktop {
        transform: rotate(-60deg) translate(-10px, -14px);
      }
      @include for-desktop {
        transform: rotate(-60deg) translate(12px, 21px);
      }
    }

    &:nth-child(2) {
      transform: rotate(-60deg) translate(-20px, 140px);

      @include for-tablet {
        transform: rotate(-60deg) translate(40px, 270px);
      }
      @include for-small-desktop {
        transform: rotate(-60deg) translate(-34px, 135px);
      }
      @include for-desktop {
        transform: rotate(-60deg) translate(-23px, 155px);
      }
    }
  }

  &__quote {
    display: block;
    margin: 30px auto 0 ;

    @include for-tablet {
      margin: 80px auto 0 ;
    }
  }

  &__paragraph {
    margin-top: 8px;
  }

  &__title {
    margin-top: 16px;
  }

  &__headline {
    margin-top: 8px;
  }
}
